{{- define "main" -}}
{{- $twitterConfig := .Site.Params.twitter -}}
{{- $twitterData := getJSON (print "https://api.rss2json.com/v1/api.json?rss_url=" $twitterConfig.rsshub "/twitter/user/" $twitterConfig.id) -}}
{{- $cdn := "" -}}
{{- if and .Site.Params.publicPath (not .Site.IsServer) -}}
{{- $cdn = .Site.Params.publicPath -}}
{{- end -}}

{{- $lazyload := .Site.Params.lazyload -}}
{{- $imageZoom := .Page.Site.Params.imageZoom -}}
<div class="page-twitter py-8 relative">
    <div class="mx-8">
        <div class=" text-3xl inline-flex items-end pb-3 mb-10">
            <div class="inline-flex items-center leading-none mr-4">
                <i class="eva eva-twitter-outline mr-2"></i>
                <span>{{ T "twitter.title" }}</span>
            </div>
            <div class=" text-lg inline-block text-gray-500 hover:text-theme dark:text-darkTextPlaceholder leading-none">
                <a href="https://twitter.com/{{- $twitterConfig.id -}}" target="_blank" rel="noopener noreferrer" title="{{ T "twitter.goto" }}">@{{- $twitterConfig.id -}}</a>
            </div>
        </div>
        
    </div>
</div>
{{- end -}}